---
import Menu from './Menu.astro';
import Util from './Util.astro';
import UtilBar from './UtilBar.astro';
import HeaderLink from './HeaderLink.astro';
---

<header id="header">
	<nav class="internal-links">
    <Menu />
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/experience">Experience</HeaderLink>
      <HeaderLink href="/project">Project</HeaderLink>
      <HeaderLink href="/publication">Publication</HeaderLink>
      <a href="/QuanPham_Resume.pdf" download="QuanPham_Resume.pdf">Resume</a>
    </div>
    <UtilBar />
    <Util />
	</nav>
	<nav class="scroll-internal-links">
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/experience">Experience</HeaderLink>
      <HeaderLink href="/project">Project</HeaderLink>
      <HeaderLink href="/publication">Publication</HeaderLink>
      <a href="/QuanPham_Resume.pdf" download="QuanPham_Resume.pdf">Resume</a>
    </div>
  </nav>
</header>
<style>
	header {
    position: sticky;
    height: 3.5rem;
    width: 100%;
		margin: 0;
		background: white;
	}
  :global(.dark) header {
    background: rgb(68,68,68);
  }
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
    position: sticky;
    width: 720px;
    max-width: calc(100% - 2rem);
    margin: auto;
    position: static;
		display: flex;
		align-items: center;
		justify-content: left;
    background-color: white;
	}
  :global(.dark) nav {
    background-color: rgb(68,68,68);
  }
  nav.internal-links {
    height: 3.5rem;
  }
  nav.scroll-internal-links {
    max-width: calc(100%);
  }
  nav #themeToggle {
    margin-left: auto;
  }
  nav .menu {
    display: none;
  }
	nav a {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
		color: rgb(15, 18, 25);
		border-bottom: 4px solid transparent;
    margin-bottom: -4px;
    padding: 1rem 0.5rem;
    text-align: center;
	}
  nav.scroll-internal-links a {
    margin-bottom: 0px;
  }
  nav a:hover {
    border-bottom-color: #8a9dff;
  }
  :global(.dark) nav a {
    color: #fff;
  }
	nav a.active {
		text-decoration: none;
		border-bottom-color: #2337ff;
	}
  .internal-links a {
    display: inline-block;
  }
	:global(.dark) nav a.active {
		border-bottom-color: #fff;
	}
  .scroll-internal-links{
    width: 100%;
    display: none;
  }
  .scroll-internal-links a {
    display: none;
  }
  .scroll-internal-links.show {
    display: none;
  }
  .scroll-internal-links.show a {
    display: none;
  }
	@media (max-width: 720px) {
    .internal-links div {
      display: none;
    }
    nav .menu {
      display: flex;
    }
    .scroll-internal-links.show {
      display: block;
    }
    .scroll-internal-links.show a {
      display: block;
    }
	}
</style>
