---
const { ...props } = Astro.props;
---
<div class="menu" { ...props }>
  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M3 6h18M3 12h18M3 18h18"/></svg>
</div>
<style>
  .menu {
    display: flex;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    color: #ff9776;
    cursor: pointer;
  }

  :global(.dark) .line {
    background-color: #663c2f;
  }
</style>
<script>
  document.querySelector('.menu')?.addEventListener('click', () => {
    document.querySelector('.scroll-internal-links')?.classList.toggle('show');
  });
</script>
