---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello World!</h1>
			<p>
      Welcome to my official website!
			</p>
			<p>
        My name is Quan Pham, currently a freshman Master's student at Florida State University.
			</p>
			<p>
        I aspire to build a career in the field of low-level optimizations. I am a research assistant under Dr. David Whalley doing research projects related to low-level optimizations. I have experience in computer architecture modeling using C programming language. Moreover, I am also interested in exploring opportunities in the field of web development as I have had experience in full-stack web dev through many of my projects. I love solving problems, and I am always willing to learn new things.
			</p>
		</main>
		<Footer />
	</body>
</html>
